

/* ---------------Yazı Tipleri ----------------*/
.top-font,.slider-font{
	font-family:"Rubik","sans-serif";
	font-weight: bold;
	font-size: small;	
}
.contents-font{
	font-family:"Roboto","sans-serif";
	font-size: 15px;
}
.contents-font-sm{
	font-family:"Roboto","sans-serif";
	font-size: small;
}

.banner-font{
	font-family:"Ubuntu","sans-serif","";
	font-weight: bold;
}
.banner-font-sm{
	font-family:"Ubuntu","sans-serif","";
	font-weight: bold;
	font-size: small;
}
.title-font{	
	font-family:"PT Sans","sans-serif";
	font-size: x-large;	
	font-weight: bold;
	text-align: center;
}

#boslukSil{
  margin: 0;
  padding: 0;
}
/*------------------------ Arka plan renkleri-------------------------*/
.bg-blue{
	background: #2c78c9;
}
.bg-c-blue{
	background-color: #2c78c9;
}


/*----------------------- konuşma balonu oluşturma -------------------*/
.speech-bubble {
	position: relative; /* göreceli konumlandırma için*/
	
	border-radius: 15px; /* kenar yuvarlama*/
	top:-40px; /* 40px olduğu yerden yukarı konumlandır*/
	z-index: 2; /* bu div üste gelsin*/	
	
}
.speech-bubble {

    width: auto;
    padding: 15px; 
	border-top-right-radius: 100px;
    text-align: left;
    color: white;
	
}
/* bubble classı içine girildikten sonra */
.speech-bubble:after {
	content: '';
	/* mutlak konumlandırma, bulunduğu alana sabit hareket eder
	kendinden önceki dikdörtgenle birlikte hareket etsin diye yaptık
	*/
	position: absolute; 
	bottom: 0;
	left: 20%;
	/* üçgen çizme */
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #2c78c9;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;

}

#bubble{
	/* speech-bubble genişliği içinde bulunduğu container genişliğinin %70i kadar olsun*/
	width: 70%; 
	
}
/* bootstrap form-controlünde genişlik 100%. sabit kalması için mail texboxını 160px ile sınırladık*/
.form-control{
	width: 140px;
	height: 35px;
	
	border-color: white;
	border-width: 2px;
	border-radius: 10px;

	float:left; /* sayfa akışını bozarak sola yasla*/
	padding: 2px;
	
}
/* form-control classında ki placeholderın rengini değiştir*/
.form-control::placeholder{
	color: white;
}


.btn{
	float:left;
	font-weight: bold;
	margin-left: 2px;
	border-radius: 10px;
	padding: 5px;

}

/* ------------------------- contents------------------------ */ 
.icons{
	width: 50px;
    height: 50px;

	padding: 15px; 
	margin: 10px; 
}

/* dikey çizgi*/
.vr{
	border-left: 3px solid #6c757d;
	height: auto;
	padding: 0;

}

/* yazı ikonun sağ başından yazılsın diye */
.icon-list{
	float: left;
	padding:0 10px 15px 0;
	/* ikonu biraz soluklaştırdık*/
	opacity: 0.3;
}
/* ---------------------------Referanslar --------------------*/

/* referansta ki imglerin özellikleri*/
.ref-img{
	width: 80px;
	height: 80px;
	float: left;
	background-color: white;
	border: 5px solid #dee4e9;
	margin: 5px;
	border-radius: 100%;
	/* yukarı kaydırma*/
	position: relative; /* göreceli konumlandırma*/
	z-index: 2;
	top: -30px;
}


.space{
	padding: 30px 10px;
	margin: 30px 0;
}


/* refaransların bulunduğu container özellikleri*/
.ref-bg {
    
	background-color: #2069b6;
	padding: 50px;
	border-style: solid;
	border-color: #2c78c9;
	border-width: 8px;
	
}
/*----------------------------footer özellikleri-------------------*/
.link-dark{
	text-decoration: none;
	color: black;
}
.link-dark:hover{
	color:#6c757d;
}
.icon-sm{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	padding: 10px;
	margin-right: 25px;
}
.yan-list{
	list-style: none;
	/* li etiketine teker teker float:left vermemek için ul etiketini esnek bir yapıya çevirdik. Böylece liler yanyana dizildi*/
	display: flex;
	padding: 0;
	
	


}

















